*
		{
			margin:0;
			padding: 0;
			background: url(bg.jpg);
			background-size: 100%;
		}
		 header
		 {
		 	width: 98%;
		 	height: 130px;
		 	border:1px solid gray;
		 	margin:auto;
		 	border-radius: 20px;
		 	box-shadow: 3px 3px 6px;
		 }

		 .main{

		 	width: 98%;
		 	height: 125px;
		 	/*border:1px solid black;*/
		 	margin:auto;
		 	align-items: center;  
		    flex-direction: row;
		    background: none;
		 }


		 .logo
		 {
		 	width: 140px;
		 	height: 120px;
		 	/*border:1px solid red;*/
		 	border-radius: 50px;
		 	overflow: hidden;

		 	
		 }

		 .logo img
		 {
		 	width: 138px;
		 	height: 118px;

		 }

		 .logo_text
		 {
		 	width: 800px;
		 	height: 118px;
		 	/*border:1px solid black;*/
		 	margin-top: -119px;
		 	margin-left: 180px;
		 	background: none;

		 }
		  .logo_text h1
		  {
		  	color: white;
		  	/*text-align: center;*/
		  	/*margin:auto;*/
		  	margin-top: 14px;
		  	font-family: 'Passion One', cursive;
		  	font-size: 70px;
		  	margin-left: 5px;
		  	background: none;
		  }
	
	.call
	{
		width: 300px;
		height: 118px;
		/*border: 1px solid black;*/
		/*float: right;*/
		margin-top: -120px;
		margin-left: 980px;
		background: none;


	}


	.call h3
	{
		color: white;
		font-size: 20px;
		margin-top: 32px;
	}
	.menu
	{
		width: 96%;
		height: 30px;
		border:1px solid gray;
		margin:auto;
		overflow: hidden;
		background:none;
		background: none;
		border-radius: 20px;
		margin-top: 8px;
		box-shadow: 2px 2px 4px;

	}
	.menu ul
	{
		display: flex;
		background: none;

	}
	.menu ul li
	{
		margin-left: 40px;
		font-size: 25px;
		/*background-color: gray;*/
		border:1px solid gary;
		color:white;
		list-style-type: none;
		background: none;
		
	}

     .menu ul li:hover
     {
     	/*background-color: green;*/


     }

     .menu ul li a
     {
     	text-decoration-color: none;
     	color: yellow;
     	/*border: 1px solid yellow;*/
     	background: none;
     	text-decoration:none;
     	text-decoration:bold;

     	/*font-family: 'Passion One', cursive;*/

 


     	/*background-color: red;*/
     }
      .menu ul li a:hover
      {
      	border-radius: 20px;
      	color: black;
      	/*width: 200px;*/
      	/*text-decoration: underline;*/
      	text-decoration:bold;
      	background-color: white;



      }

      .about
      {
      	width: 55%;
      	height: 380px;
      	border:1px solid gray;
      	margin-top: 35px;
      	margin-left: 570px;
      	border-radius: 30px 20px;
      	box-shadow: 5px 5px 10px;
      	background: none;
      }

      .heading
      {
      	width: 10%
      	height:50px;
      	/*border: 1px solid gray;*/
      	margin-left: 40%;
      	background: none;
      }

      .heading h1
      {
      	background: none;
      	color: yellow;

      }


      .heading_content
      {
      	width: 90%;
      	height: 240px;
      	/*border:1px solid red;*/
      	margin: auto;
      	background:none;
      	margin-top:10px;
      	border-radius: 20px;
      	box-shadow: 3px 3px 6px;

      }
       .heading_content p
       {
       	background: none;
       	color:white;
       	font-size: 22px;
       	letter-spacing: 2px;
       	word-spacing: 3px;
       	margin-top: 1px;
       }
        .heading_content p b
        {
        	background: none;
        	text-decoration: underline;
        	color: yellow;
        }

        .log
        {
       width: 70%;
      	height:70px;
      	/*border: 1px solid gray;*/
      	/*margin-left:;*/
      	background: none;
      	margin:auto;
      	margin-top: 8px;
      	align-items: center;
        }


        .login
        {
        	margin-left: 200px;
        	margin-top: 10px;
        	font-size: 22px;
        	/*border:1px solid yellow;*/
        	background: none;
        	text-decoration:none;
        	background-color: black;
        	border-radius: 5px;

        	color:white;
        }
         .login:hover
                {

                	color:red;
                	border-radius: 20px;
                	background-color: black;
                	color: white;
                	box-shadow: 3px 3px 5px;
                }
        	 


        .signup
        {
        	margin-left: 200px;
        	margin-left: 184px;
        	/*margin-top: 10px;*/
        	font-size: 22px;
        	border:1px solid blue;
        	/*margin-top: 20px;*/
        	background: none;
        	text-decoration:none;
        	color: white;
        	background-color: black;
        	border-radius: 5px;
        	        }

                .signup:hover
                {

                	color:red;
                	border-radius: 20px;
                	background-color: black;
                	color: white;
                	box-shadow: 3px 3px 5px;
                }
        	 